<app-header [title]="'Embarcaciones'"></app-header>

<ion-content [fullscreen]="true">
  <app-boats-filter [title]="'Busque sus embarcaciones'" (search)="search($event)"
                    [initialDateInput]="initialDate" [endDateInput]="endDate"></app-boats-filter>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let boat of boats;" size="12">
        <app-boat-card [boat]="boat" [initDate]="initialDate" [endDate]="endDate"></app-boat-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
