<ion-footer>
  <ion-toolbar>
    <form [formGroup]="form">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="text-white">FunnySail</p>
            <p class="text-white"> Copyright &copy; 2021 </p>
            <ion-grid>
              <ion-row>
                <ion-col size="12" offset="4">
                  <ion-item class="center">
                    <ion-label position="floating" for="language">Idioma</ion-label>
                    <ion-select name="language" placeholder="Idioma"
                                id="language"
                                formControlName="language">
                      <ion-select-option value="es">Español</ion-select-option>
                      <ion-select-option value="en">Ingles</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                  </ion-row>
            </ion-grid>
          </div>
        </div>

      </div>
    </form>
  </ion-toolbar>
</ion-footer>
