<ion-card>
  <ion-card-header>
    <ion-card-title>{{title | translate }}</ion-card-title>
    <ion-card-subtitle>{{subTitle | translate}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="form">
      <ion-grid>
        <ion-col>
          <ion-item>
            <ion-label>{{'boatFilters.form.since' | translate}}</ion-label>
            <ion-input [value]="initialDate" formControlName="initialDate"></ion-input>
            <ion-button fill="clear" [id]="'open-date-input-' + idInput1">
              <ion-icon icon="calendar"></ion-icon>
            </ion-button>
            <ion-popover [trigger]="'open-date-input-' + idInput1" show-backdrop="false">
              <ng-template>
                <ion-datetime
                  [min]="minDate"
                  #popoverDatetime1
                  presentation="date"
                  [value]="initialDateInput"
                  (ionChange)="initialDate = formatDate(popoverDatetime1.value)"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
          <ion-label>{{'boatFilters.form.ago' | translate}}</ion-label>
          <ion-input [value]="endDate" formControlName="endDate"></ion-input>
          <ion-button fill="clear" [id]="'open-date-input-' + idInput2">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>
          <ion-popover [trigger]="'open-date-input-' + idInput2" show-backdrop="false">
            <ng-template>
              <ion-datetime
                [min]="minDate"
                #popoverDatetime2
                presentation="date"
                [value]="endDateInput"
                (ionChange)="endDate = formatDate(popoverDatetime2.value)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
          </ion-item>
        </ion-col>
        <ion-col class="ion-margin-top">
          <ion-button color="primary" (click)="onSearch($event)">{{'boatFilters.form.button' | translate}}</ion-button>
        </ion-col>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
