<app-header [title]="'profile.title'"></app-header>

<ion-content [fullscreen]="true">

  <ion-grid style="background-image: url('assets/port.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; text-align:center">
    <ion-row style="justify-content: center;">
      <img src="assets/user.png" alt="profile picture" class="img-circle" style="width: 15%; margin: 1.5%;">
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 class="ion-text-center"><b>{{user.name}} {{user.lastName}}</b></h2>
      </ion-col>
    </ion-row>

    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h3><b>{{'profile.personalInfo' | translate}}</b></h3>
          </ion-col>
          <ion-col size="4">
            <ion-button color="primary" (click)="show_form()" id="editButton">
              <ion-icon name="pencil-outline" style="margin-right:5px"></ion-icon> {{'profile.edit' | translate}}
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button color="primary" (click)="save_form()" id="saveButton" style="display: none">
              <ion-icon name="save-outline" style="margin-right:5px"></ion-icon> {{'profile.save' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>

        <hr>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" for="name">{{'profile.name' | translate}}</ion-label>
              <ion-input name="name" placeholder="Nombre" type="text"
                         id="name"
                         formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" for="lastName">{{'profile.surname' | translate}}</ion-label>
              <ion-input name="lastName" placeholder="Apellidos" type="text"
                         id="lastName"
                         formControlName="lastName"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" for="email">{{'profile.email' | translate}}</ion-label>
              <ion-input name="email" placeholder="Email" type="text"
                         id="email"
                         formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label>{{'profile.birthday' | translate}}</ion-label>
              <ion-input [value]="dateValue2" formControlName="birthDay"></ion-input>
              <ion-button fill="clear" id="open-date-input-2">
                <ion-icon icon="calendar"></ion-icon>
              </ion-button>
              <ion-popover trigger="open-date-input-2" show-backdrop="false">
                <ng-template>
                  <ion-datetime #popoverDatetime2
                                presentation="date"
                                (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"></ion-datetime>
                </ng-template>
              </ion-popover>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" for="phone">{{'profile.phone' | translate}}</ion-label>
              <ion-input name="phone" placeholder="Teléfono" type="text"
                         id="phone"
                         formControlName="phone"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3">
            <!--<change-password-card></change-password-card>-->
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col size="12">
            <h3><b>{{'profile.address' | translate}}</b></h3>
          </ion-col>
        </ion-row>
        <hr>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" for="address">{{'profile.address' | translate}}</ion-label>
              <ion-input name="address" placeholder="Dirección" type="text"
                         id="address"
                         formControlName="address"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" for="city">{{'profile.city' | translate}}</ion-label>
              <ion-input name="city" placeholder="Ciudad" type="text"
                         id="city"
                         formControlName="city"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" for="zip">{{'profile.postalCode' | translate}}</ion-label>
              <ion-input name="zip" placeholder="Código postal" type="text"
                         id="zip"
                         formControlName="zip"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" for="country">{{'profile.country' | translate}}</ion-label>
              <ion-input name="country" placeholder="Pais" type="text"
                         id="country"
                         formControlName="country"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" for="state">{{'profile.community' | translate}}</ion-label>
              <ion-input name="state" placeholder="Comunidad" type="text"
                         id="state"
                         formControlName="state"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" style="margin-top:20px; padding-bottom: 50px;">
            <ion-button color="danger" (click)="logout()">{{'profile.logOut' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>

