
<hr />
<ion-reorder-group disabled="false">
  <h4>{{'contactUs.title' | translate}}</h4>

  <ion-item>
    <ion-label>
      <strong>{{'contactUs.phone' | translate}}</strong>  <a href="tel:+34666666666">+123456789</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <strong>{{'contactUs.email' | translate}} </strong><a href="mailto:info@funnysail.es">info@funnysail.es </a>
    </ion-label>
  </ion-item>
  <ion-item>
  <ion-label>
    <strong>{{'contactUs.company' | translate}}</strong> FunnySail
  </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <strong>{{'contactUs.schedule' | translate}} </strong> 8:00 - 17:00
    </ion-label>
  </ion-item>
</ion-reorder-group>
