
<hr />
<ion-reorder-group disabled="false">
  <h4>Nuestro contacto:</h4>

  <ion-item>
    <ion-label>
      <strong>Teléfono: </strong>  <a href="tel:+34666666666">+123456789</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <strong>Email: </strong><a href="mailto:info@funnysail.es">info@funnysail.es </a>
    </ion-label>
  </ion-item>
  <ion-item>
  <ion-label>
    <strong>Empresa: </strong> FunnySail
  </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <strong>Horario: </strong> 8:00 - 17:00
    </ion-label>
  </ion-item>
</ion-reorder-group>
