<app-header></app-header>
<ion-content [fullscreen]="true">
  <carousel></carousel>
  <app-boats-filter [title]="'¡La mejor solución para alquilar un barco!'"
                    [subTitle]="'Más de 40,000 barcos que alquilar al mejor precio y en todo el mundo.'"
                    [initialDateInput]="''" [initialDateInput]="''"
                    (search)="search($event)"></app-boats-filter>
  <ion-card *ngFor="let linkMenu of linksMenus">
    <card-menu [linkMenu]="linkMenu" [link]="linkMenu.linkPage"></card-menu>
  </ion-card>

  <ion-card *ngFor="let comment of comments">
    <comment [comment]="comment"></comment>
  </ion-card>
  <hr />
  <div class="row mt-5" style="border-top-color: #555555; border-top-style:solid; border-top-width: 1px;">

    <div style="text-align: center;">
      <h1>Propietario</h1>
    </div>
    <ion-list lines="none">
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon>  Crea un anuncio gratuito para alquilar tu barco. Barcos, zodiacs, lanchas, catamaranes, todos son bienvenidos en FunnySail!</ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon>  Alquila a quien desees, cuando quieras y al precio que veas conveniente. Click&Boat te ayuda a rentabilizar tu barco al permitirte cubrir los gastos de mantenimiento y uso.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon>  Seguro a todo riesgo opcional de hasta ocho millones de euros de cobertura y plataforma de pago segura para la fianza. Confíanos el alquiler de tu velero, barco a motor o catamarán.</ion-label>
      </ion-item>
    </ion-list>

    <div style="text-align: center;">
      <ion-button color="primary" (click)="rent()">Alquila tu barco</ion-button>
    </div>

    <div style="text-align: center;">
      <h1>Arrendatario</h1>
    </div>
    <ion-list lines="none">
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon>  Consulta todos los anuncios a través del motor de búsqueda. Encuentra un barco o un velero en alquiler en cualquier lugar de Europa y al mejor precio. Disfruta de nuestro seguro incluído para alquilar y navegar con total seguridad.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon>  Ponte en contacto con los propietarios de las embarcaciones de manera gratuita y pregúntales sobre cuestiones relativas a la embarcación: disponibilidad , equipamiento, etc. a través del servicio de mensajería incorporado.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon>  Reserva directamente online con total seguridad y alquila el barco o velero de tus sueños en tan solo unos clics. Únicamente se te realizará el cargo en caso de que el propietario de la embarcación acepte tu solicitud de alquiler. Pago seguro al 100 %. Click&Boat Es tu intermediario de confianza.</ion-label>
      </ion-item>
    </ion-list>

    <div style="text-align: center;">
      <ion-button color="primary" (click)="boats()">Encuentra tu barco</ion-button>
    </div>
  </div>

  <div class="row justify-content-center m-5">
    <div class="col" style="text-align: center;">
      <h1>Navega con total seguridad</h1>
      <img class="card-img-top img-card" src="https://www.allianz-partners.es/content/dam/onemarketing/awp/allianz-partners-es/Allianz_Partners_Spain.png"
           alt="Card image cap" style="max-height: 150px; max-width: 250px;">
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>

