<app-header></app-header>
<ion-content [fullscreen]="true">
  <carousel></carousel>
  <app-boats-filter [title]="'home.title'"
                    [subTitle]="'home.subtitle'"
                    [initialDateInput]="''"
                    (search)="search($event)"></app-boats-filter>
  <ion-card *ngFor="let linkMenu of linksMenus">
    <card-menu [linkMenu]="linkMenu" [link]="linkMenu.linkPage"></card-menu>
  </ion-card>

  <ion-card *ngFor="let comment of comments">
    <comment [comment]="comment"></comment>
  </ion-card>
  <hr />
  <div class="row mt-5" style="border-top-color: #555555; border-top-style:solid; border-top-width: 1px;">

    <div style="text-align: center;">
      <h1>{{'home.owner.title' | translate }}</h1>
    </div>
    <ion-list lines="none">
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon> {{'home.owner.paragraph1' | translate}}  </ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon> {{'home.owner.paragraph2' | translate}}  </ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon>  {{'home.owner.paragraph3' | translate}} </ion-label>
      </ion-item>
    </ion-list>


    <div style="text-align: center;">
      <h1>{{'home.lessee.title' | translate }}</h1>
    </div>
    <ion-list lines="none">
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon> {{'home.lessee.paragraph1' | translate}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon> {{'home.lessee.paragraph2' | translate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap><ion-icon name="star"></ion-icon>  {{'home.lessee.paragraph3' | translate}}</ion-label>
      </ion-item>
    </ion-list>

    <div style="text-align: center;">
      <ion-button color="primary" (click)="boats()">{{'home.lessee.button' | translate}}</ion-button>
    </div>
  </div>

  <div class="row justify-content-center m-5">
    <div class="col" style="text-align: center;">
      <h1>{{'home.insurance.title' | translate}}</h1>
      <img class="card-img-top img-card" src="https://www.allianz-partners.es/content/dam/onemarketing/awp/allianz-partners-es/Allianz_Partners_Spain.png"
           alt="Card image cap" style="max-height: 150px; max-width: 250px;">
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>

