<app-header [title]="'Carrito'"></app-header>

<ion-content [fullscreen]="true">
  <!-- Custom Icon -->
  <ion-accordion-group [multiple]="true" [value]="['boats', 'services']">
    <ion-title class="ion-margin-top ion-text-center">
      Resumen
    </ion-title>
    <ion-accordion value="boats">
      <ion-item slot="header">
        <ion-label>Embarcaciones</ion-label>
      </ion-item>
    <ion-list slot="content">
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
    </ion-list>
    </ion-accordion>
    <ion-accordion value="services">
      <ion-item slot="header">
        <ion-label>Servicios</ion-label>
      </ion-item>
      <ion-list slot="content">
        <div *ngFor="let service of bookingCart.services;">
          <app-service-cart-item [service]="service" (removeService)="removeServiceFromCart($event)"></app-service-cart-item>
        </div>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
