<app-header [title]="'Carrito'"></app-header>

<ion-content [fullscreen]="true">
  <!-- Custom Icon -->
  <ion-accordion-group class="ion-margin-top" [multiple]="true" [value]="['boats', 'services']">
    <ion-accordion value="boats">
      <ion-item slot="header">
        <ion-label color="primary">Embarcaciones</ion-label>
      </ion-item>
    <ion-list slot="content">
      <div *ngFor="let boat of bookingCart.boats;">
        <app-boat-cart-item [boatBooking]="boat" (removeBoat)="removeBoatFromCart($event)"></app-boat-cart-item>
      </div>
    </ion-list>
    </ion-accordion>
    <ion-accordion value="services">
      <ion-item slot="header">
        <ion-label color="primary">Servicios</ion-label>
      </ion-item>
      <ion-list slot="content">
        <div *ngFor="let service of bookingCart.services;">
          <app-service-cart-item [service]="service" (removeService)="removeServiceFromCart($event)"></app-service-cart-item>
        </div>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
