<app-header [title]="'signup.title'"></app-header>

<ion-content [fullscreen]="true">
  <ion-segment class="ion-margin-top" (ionChange)="segmentChanged($event)" value="identity">
    <ion-segment-button value="identity">
      <ion-label>{{'signup.credentials' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="userData">
      <ion-label>{{'signup.personalData' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="address">
      <ion-label>{{'signup.address' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
  <ion-grid class="ion-margin-top">
    <ng-container  *ngIf="segment === 'identity';">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.email' | translate}}</ion-label>
            <ion-input name="email" type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.password' | translate}}</ion-label>
            <ion-input name="password" type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.confirmPassword' | translate}}</ion-label>
            <ion-input name="confirmPassword" type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container  *ngIf="segment === 'userData';">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.name' | translate}}</ion-label>
            <ion-input name="firstName" type="text" formControlName="firstName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.surname' | translate}}</ion-label>
            <ion-input name="lastName" type="text" formControlName="lastName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.birthday' | translate}}</ion-label>
            <ion-input [value]="dateValue2" formControlName="birthDay"></ion-input>
            <ion-button fill="clear" id="open-date-input-2">
              <ion-icon icon="calendar"></ion-icon>
            </ion-button>
            <ion-popover trigger="open-date-input-2" show-backdrop="false">
              <ng-template>
                <ion-datetime
                  #popoverDatetime2
                  presentation="date"
                  (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.phone' | translate}}</ion-label>
            <ion-input name="phoneNumber" type="text" formControlName="phoneNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container  *ngIf="segment === 'address'">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.address' | translate}}</ion-label>
            <ion-input name="address" type="text" formControlName="address"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.city' | translate}}</ion-label>
            <ion-input name="city" type="text" formControlName="city"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.province' | translate}}</ion-label>
            <ion-input name="state" type="text" formControlName="state"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.postalCode' | translate}}</ion-label>
            <ion-input name="zipCode" type="text" formControlName="zipCode"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>{{'signup.country' | translate}}</ion-label>
            <ion-input name="country" type="text" formControlName="country"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col>
        <ion-text class="ion-text-center" color="danger">
          <h4>{{error}}</h4>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="button-end" color="primary" expand="full" type="submit"
                    [disabled]="registerForm.invalid"
        >{{'signup.button' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>

</ion-content>
