<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>{{'chat.title' | translate}}</h1>

    <ion-label for="msg"> <strong>{{'chat.message' | translate}} </strong></ion-label>
    <ion-textarea class="textareaChat" placeholder="Escriba su mensaje.." id="msg" name="msg" required></ion-textarea>

    <ion-button type="submit"> {{'chat.send' | translate}} </ion-button>
    <ion-button color="danger" (click)="showChat()"> {{'chat.close' | translate}} </ion-button>
  </form>
</div>
<ion-button color="dark" id="botonChat" (click)="showChat()">
  <ion-icon name="chatbox-outline"></ion-icon>
</ion-button>

