<ion-card [routerLink]="['/boat']" [queryParams]="{id: boat.id , initialDate: this.initDate, endDate: this.endDate}">
  <ion-card-header>
    <ion-card-title><a [routerLink]="['/boat']" [queryParams]="{id: boat.id , initialDate: this.initDate, endDate: this.endDate}">{{boat.name}}</a></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row><ion-text>{{boat.description}}</ion-text></ion-row>
      <ion-row><ion-text class="ion-margin-top"><b>{{'boatCard.capacity' | translate}}</b>{{boat.capacity}} {{'boatCard.people' | translate}}</ion-text></ion-row>
      <ion-row><ion-text><b>{{'boatCard.length' | translate}}</b>{{boat.length}}</ion-text></ion-row>
      <ion-row class="ion-margin-top"><ion-text><b>{{'boatCard.price' | translate}}</b> {{boat.price | currency:'EUR'}}</ion-text></ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
