<div class="container" style="text-align: center;">
  <div class="row justify-content-center">
    <div class="card" style="width: 36rem;">
      <p class="h4 text-center" style="margin-top:5%;">Login</p>
      <div class="card-body">
        <form [formGroup]="form" class="card d-flex justify-content-center form" style="border:none;">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Usuario" formControlName="email" required>
            <mat-error>Campo requerido</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
            <mat-error>Campo requerido</mat-error>
          </mat-form-field>
          <br/>
          <button class="btn btn-proyecto" mat-raised-button color="primary" (click)="login()">
            <span class="mat-body-2">Log In</span>
          </button>
          <button class="btn btn-proyecto" mat-raised-button color="primary" (click)="goSignUp()" style="margin-top: 15px;">
            <span class="mat-body-2">Sign Up</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
